### Aim: Perform the following operations using Python on the Air quality and Heart Diseases data sets a. Data cleaning  b. Data integration c. Data transformation d. Error correcting e. Data model building

In [1]:
import pandas as pd
A = pd.read_csv("C:\\Users\\sahil\\Downloads\\airquality1.csv")

In [2]:
A.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day humidity
0           1   41.0    190.0   7.4    67      5    1     high
1           2   36.0    118.0   8.0    72      5    2     high
2           3   12.0    149.0  12.6    74      5    3     high
3           4   18.0    313.0  11.5    62      5    4     high
4           5    NaN      NaN  14.3    56      5    5     high

### Data Cleaning

#### Dropping column

In [3]:
A.drop(['Unnamed: 0'], axis=1)

     Ozone  Solar.R  Wind  Temp  Month  Day humidity
0     41.0    190.0   7.4    67      5    1     high
1     36.0    118.0   8.0    72      5    2     high
2     12.0    149.0  12.6    74      5    3     high
3     18.0    313.0  11.5    62      5    4     high
4      NaN      NaN  14.3    56      5    5     high
..     ...      ...   ...   ...    ...  ...      ...
148   30.0    193.0   6.9    70      9   26     high
149    NaN    145.0  13.2    77      9   27     high
150   14.0    191.0  14.3    75      9   28     high
151   18.0    131.0   8.0    76      9   29     high
152   20.0    223.0  11.5    68      9   30     high

[153 rows x 7 columns]

#### Checking null values in the dataset

In [4]:
A.isnull().sum()

Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
humidity       4
dtype: int64

In [11]:
meanOzone = A[['Ozone']].mean()
meanSolar = A[['Solar.R']].mean()
meanhumidity = A[['humidity']].mean()

C:\Users\sahil\AppData\Local\Temp\ipykernel_13336\1089018953.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  meanhumidity = A[['humidity']].mean()

#### Filling null values

In [12]:
A[["Ozone"]] = A[["Ozone"]].fillna(value=meanOzone)
A[["Solar.R"]] = A[["Solar.R"]].fillna(value=meanSolar)
A[["humidity"]] = A[["humidity"]].fillna(value=meanhumidity)

In [13]:
A.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp          0
Month         0
Day           0
humidity      4
dtype: int64

### Data Intregation

In [14]:
ss1 = A.loc[0:5,['Ozone']]
ss2 = A.loc[0:10,['humidity','Ozone']]

In [15]:
ss1.shape

(6, 1)

In [16]:
ss2.shape

(11, 2)

In [17]:
merge = ss2.merge(ss1)
merge.shape

(7, 2)

### Data Transformation

#### Label Encoding

In [20]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
label_encoded = A.copy()